@page
@model MuzicStore.Pages.Authentication.ChangePasswordModel
@{
}

<div class="row justify-content-center text-center">

    <h3 class="fw-bold">PROFILE</h3>

    <div>

        <div class="text-start">

            <div class="text-center mt-3">
                <img src="https://img.freepik.com/free-vector/jazz-piano-concept-illustration_114360-11199.jpg?size=338&ext=jpg&ga=GA1.1.1826414947.1699056000&semt=ais" class="w-25" />
            </div>

            <form method="post">
                <div class="modal-body">
                    <input name="Action" type="hidden" value="EDIT" />
                    <div class="form-group">
                        <label asp-for="@Model.oldpassword" class="control-label"></label>
                        <input asp-for="@Model.oldpassword" class="form-control" />
                        <span asp-validation-for="@Model.oldpassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.newpassword" class="control-label"></label>
                        <input asp-for="@Model.newpassword" class="form-control" />
                        <span asp-validation-for="@Model.newpassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.repassword" class="control-label"></label>
                        <input asp-for="@Model.repassword" class="form-control" />
                        <span asp-validation-for="@Model.repassword" class="text-danger"></span>
                    </div>

                    @{
                        if (ViewData["msg"] != null)
                        {
                            @ViewData["msg"].ToString()
                        }
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="Save change" class="btn btn-primary" />
                </div>
            </form>

            <div>
                <button id="changePassBtn" class="btn btn-light mt-2">Change Password</button>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
            {
                <p class="text-success mt-2">@ViewBag.SuccessMessage</p>
            }

        </div>
    </div>
</div>